[access]
	inheritFrom = All-Projects
[submit]
[access "refs/*"]
	owner = group user/Ravail92
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/Ravail92
	label-Verified = -1..+1 group user/Ravail92
	push = group user/Ravail92
	read = group user/Ravail92
	rebase = group user/Ravail92
	removeReviewer = group user/Ravail92
	submit = group user/Ravail92
[access "refs/heads/*"]
	create = group user/Ravail92
	push = +force group user/Ravail92
	pushMerge = group user/Ravail92
	read = group user/Ravail92
[access "refs/tags/*"]
	push = group user/Ravail92
	push = +force group user/Ravail92
